<!DOCTYPE html>
<meta charset="utf-8">
<html>
<head>
	<title>$TITLE</title>
	<script src="//code.iconify.design/1/1.0.6/iconify.min.js"></script>
	<link href="https://creeperlv.github.io/Styles/cldesignv2/cldesignv2.css" rel="stylesheet">
	<style>
		code {
			color: #F94;
			background: #444;
			padding: 2px 5px;
			border-radius: 5px;
			border: 1px solid #666;
		}
		pre{
			overflow: auto;
		}
		pre>code {
			color: white;
			background: none;
			padding: unset;
			border-radius: 0px;
			border: none;
		}
		body{
			-webkit-print-color-adjust:exact !important;
			print-color-adjust:exact !important;
			transition-duration: 0.4s;
		}
		.menudiv {
			visibility: visible;
			transition-duration: 0.4s;
			position: fixed;
			top:20px;
			left: 1%;
			bottom: 20px;
			width: 15%;
			background: #333;
			border-radius: 5px;
			padding: 5px;
			box-shadow: #111 0px 10px 15px 1px;
		}
		.MainContent {
			transition-duration: 0.4s;
			margin-left: 17%;
			padding: 1px 16px;
			border: none;
			width: 78%;
		}
		img{
			width: 95%;
			margin-left:2.5%;
			margin-right:2.5%;
		}
		.menudiv:hover {
			top: 15px;
			bottom: 25px;
		}
		table, th, td {
			border: 1px solid white;
			border-collapse: collapse;
		}
		@media print{
			code {
				color: #841;
				background: #E8E8E8;
				padding: 2px 5px;
				border-radius: 5px;
				border: 1px solid #DDD;
			}
			pre>code {
				color: black;
				background: none;
				padding: unset;
				border-radius: 0px;
				border: none;
			}
			table, th, td {
				border: 1px solid black;
				border-collapse: collapse;
			}
			.menudiv {
				visibility: collapse;
			}
			.MainContent {
				transition-duration: 0.4s;
				margin-left: 0%;
				padding: 0 px;
				border: none;
				width: 100%;
			}
			.AccentCardDiv{
				background: #FFF;
				box-shadow: #fff 0px 0px 0px 0px;
				padding: 0px;
				margin: 0px;
			}
			.AccentCardDiv:hover {
				background: #FFF;
				box-shadow: #fff 0px 0px 0px 0px;
				padding: 0px;
				margin: 0px;
			}
			.cardDiv{
				background: #FFF;
				box-shadow: #fff 0px 0px 0px 0px;
				padding: 0px;
				margin: 0px;
			}
			.cardDiv:hover {
				background: #FFF;
				box-shadow: #fff 0px 0px 0px 0px;
				padding: 0px;
				margin: 0px;
			}
			p{
				color:black;
			}
			P{
				color:black;
			}
			body{
				color:black;
			}
			h1{
				color:black;
			}
			.hiddenWithPrint{
				visibility: collapse;
			}
		}
	</style>
</head>
<body>
	<div class="menudiv" style="overflow: auto;">
		$WIKI_NAVBAR
	</div>
	<div class="MainContent">
		<div class="AccentCardDiv" id="TitleDiv">
			<p class="t2" id="Title">$TITLE</p>
		</div>
		<div class="cardDiv">
			<p>Created at: $CREATE_TIME Last Modify: $MODIFY_TIME</p>
		</div>
		<div class="cardDiv">
		$WIKI_CONTENT
		</div>
		<div class="cardDiv hiddenWithPrint">
			<p>Generated in $COMPOSE_TIME ms.</p>
			<p>
				<a class="cldButton" href="/m-content/$URL_PATH">Mobile Version</a>
			</p>
		</div>
	</div>
</body>
</html>